<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca General</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item-divider class="nombreColegio" color="secondary">

      <ion-label position="inline">Colegio San Antonio de Padua</ion-label>

    </ion-item-divider>

  </div>

  <ion-item class="ion-margin-top">
    <ion-label id="busquedaTitulo" class="busqueda" position="floating">Búsqueda por título</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label class="busqueda" position="floating">Búsqueda por año</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label class="busqueda" position="floating">Búsqueda por autor</ion-label>
    <ion-input autocapitalize="on"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label>Búsqueda por género literario</ion-label>
    <ion-select value="00">
      <ion-select-option value="01">Fantasia</ion-select-option>
      <ion-select-option value="02">Terror</ion-select-option>
      <ion-select-option value="03">Novela Romántica</ion-select-option>
      <ion-select-option value="04">Distopia</ion-select-option>
      <ion-select-option value="05">Novela Negra</ion-select-option>
      <ion-select-option value="06">Novela Histórica</ion-select-option>
      <ion-select-option value="07">Infantil</ion-select-option>
      <ion-select-option value="08">Adolescente</ion-select-option>
    </ion-select>
  </ion-item>
  <div style="text-align:center">
    <div class="ion-margin">
      <ion-button style="position: relative" routerLink="/storage" shape="round" class="ion-margin-top" fill="solid">Catálogo completo</ion-button>
    </div>
    <div class="ion-margin">
      <ion-button expand="default" routerLink="/storage" shape="round" class="ion-margin-top" fill="solid">BUSCAR</ion-button>
    </div>
    <div>
      <ion-button expand="default" shape="round" routerLink="/perfil-de-usuario" size="small">SALIR</ion-button>
    </div>
  </div>
</ion-content>