<ion-content class="fondoPerfilUsuario" [fullscreen]="true">

<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button size="small">
      ATRÁS
      </ion-button>
      Perfil de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col class="ion-padding">
      <img src="assets/icon/avatar.png">
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

<div>
  <div>
    <ion-item>
      <ion-label position="center">
        Nombre del Colegio:
      </ion-label>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label>San Antonio de Padua</ion-label>
    </ion-item>
  </div>

  <div class="ion-margin">
    <ion-item>
      <ion-label position="center">
        Nombre del alumno:
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="center">
        Andrés Pérez Sewer
      </ion-label>
    </ion-item> 
  </div>

  <div>
    <ion-item>
      <ion-label position="center">
        Tutor del alumno:
      </ion-label>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label> Francisco Rubalcaba Rajoy</ion-label>
    </ion-item>
  </div>
 
</div>  

</ion-content>
