<ion-header>
  <ion-toolbar>
    <ion-title>Selección de Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item-divider color="secondary">
      
      <ion-label position="inline">Colegio San Antonio de Padua</ion-label>
      
    </ion-item-divider>
  </div>

  <ion-item-group class="ion-padding-top">
    <ion-item-divider class="ion-padding-top">
      <ion-label>Elige una de las siguiente opciones:</ion-label>
    </ion-item-divider>
  
    <ion-item class="ion-margin-top">
      <ion-button routerLink="/biblioteca-colegio" class="ion-padding-start">Libreria General</ion-button>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-button class="ion-padding-start">Clase del alumno</ion-button>
    </ion-item>
  </ion-item-group>

</ion-content>
