<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item-divider class="nombreColegio" color="secondary">
      
      <ion-label position="inline">Colegio San Antonio de Padua</ion-label>
      
    </ion-item-divider>

  </div>

  <div class="ion-margin-top">
    <ion-item-divider class="nombreUsuario" color="secondary">    
      <ion-label position="inline">Andrés Pérez Sewer</ion-label>
    </ion-item-divider>
  </div>

  <ion-list class="ion-padding">
    <ion-item *ngFor="let libro of libros">
      <ion-item>
        <ion-img id="portada" [src]="libro.cover"></ion-img>
        <ion-label>
          <h2>Autor: {{libro.author}}</h2>
          <h3>Título: {{libro.title}}</h3>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-list>

  <div class="seccionLibros">
    <ion-label class="ion-padding" position="inline">Marcar las tareas hechas</ion-label>
    <ion-list>
      <ion-item *ngFor="let libro of libros">
        <ion-item>
          <ion-label position="inline">
            <h3>Título: {{libro.title}}</h3>
            <button (click)="presentModalTarea()" class="btn btn-lg btn-outline-primary">Tarea</button>
          </ion-label>
            <ion-checkbox color="primary"></ion-checkbox> 
        </ion-item>
      </ion-item>
    </ion-list>
  </div>

  <div class="botonSalir">

    <ion-button routerLink="/perfil-de-usuario" size="small">SALIR</ion-button>
    
  </div>
</ion-content>


