ion-title{
    padding-left: 80px;
}

.nombreColegio{
    padding-left: 80px;
}

ion-content{
    font-family: Arial, Helvetica, sans-serif;
}

.seccionLibros{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border-color:rgb(255, 255, 255); 
    border-width: .01em; 
    border-style:solid;
    padding-top: 5px;
}

ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      background-color:  #2dd36f;
      font-weight: bold;
    }
    ion-col {
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }
    
    ion-row:last-child {
      border-bottom: 1px solid black;
    }
  }

.botonSalir{
      margin-left: 40%;
  }
  #portada  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    }