<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item-divider class="nombreColegio" color="secondary">
      
      <ion-label position="inline">Colegio San Antonio de Padua</ion-label>
      
    </ion-item-divider>

  </div>

  <div class="ion-margin-top">
    <ion-item-divider class="nombreUsuario" color="secondary">    
      <ion-label position="inline">Andrés Pérez Sewer</ion-label>
    </ion-item-divider>
  </div>

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Título</ion-col>
      <ion-col>Estado</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Ética para Nicomaco</ion-col>
      <ion-col>Obligado</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>El Cuervo</ion-col>
      <ion-col>Recomendado</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>El Señor de los Anillos</ion-col>
      <ion-col>Reservado</ion-col>
    </ion-row>
  </ion-grid>

  <div class="seccionLibros">
    <ion-label class="ion-padding" position="inline">Listado de tareas</ion-label>
    <ion-list>
      <ion-item>
        <ion-label position="inline">Resumen de El Cuervo</ion-label>
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label position="inline">Conceptos principales de Ética para Nicomaco</ion-label>
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <div class="botonSalir">

    <ion-button size="small">SALIR</ion-button>
    
  </div>
</ion-content>


