<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Biblioteca Escolar
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-item>
      <div>
        <img src="assets/icon/logo.png" alt="">
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Usuario:</ion-label>
      <ion-input placeholder="user"></ion-input>
    </ion-item>
      
    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input placeholder="pass" type="password"></ion-input>
    </ion-item>
    
    <ion-button routerLink="/perfil-de-usuario" size="large" expand="block" color="tertiary" type="submit">
      Entrar
    </ion-button>
    
</ion-content>
  